.footeLabel {
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    /* background: #39b54a; /* Цвет фона */
    /* color: #fff; /* Цвет текста */
    color: black;
    width: 50%; /* Ширина слоя */
    font-size: 20px;
   }

   .footerLabel2 {
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    /* background: #39b54a; /* Цвет фона */
    /* color: #fff; /* Цвет текста */
    color:green;
    width: 50%; /* Ширина слоя */
    font-size: 40px;
   }

   .footerButton {
    position: fixed; /* Фиксированное положение */
    right: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    /* background: #39b54a; /* Цвет фона */
    /* color: #fff; /* Цвет текста */
    color: black;
    /* font-size: 20px;*/
   }

   .rightSetting{
       position: fixed;
       right: 0; top: 10;
       margin: 10;
       background: white;
       /* border: 1px solid;  */
   }
   .mainCanvas{
      margin-bottom: 40px;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
   }

   .mainCanvasV{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
 }
 
 .statusLabel{
    font-size: 15;
    font-weight: bold;
 }

 .statusLabelEnable{
    font-size: 15;
    font-weight: bold;
    color: green;
 }

 .statusLabelDisable{
    font-size: 15;
    font-weight: bold;
    color: red;
    border: 1;
 }